@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/coolvetica.otf') format('opentype');
}

body {
    background-color: rgb(17, 17, 17);
}

.title {
    color: rgb(255, 255, 255);
    font-family: 'Coolvetica';
    font-size: 50px;
}

button {
    padding: 12px 24px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Coolvetica';
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: white;
    font-family: 'Coolvetica';
    color: black;
    box-shadow: 0 0 10px white;
}
