@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/coolvetica.otf') format('opentype');
}

body {
    background-color: rgb(17, 17, 17);
}

.title {
    color: rgb(255, 255, 255);
    font-family: 'Coolvetica';
    font-size: 50px;
}

button {
    padding: 12px 24px;
    border: 1px solid rgb(68, 68, 68);
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Coolvetica';
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(36, 36, 36);
    font-family: 'Coolvetica';
    box-shadow: 0 0 10px rgb(12, 12, 12);
}

button:active {
    background-color: transparent;
}

.imgbtn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
  
.imgbtn img {
    max-width: 60%;
    max-height: 100%;
    display: block;
}

.settingsbox {
    width: 500px;
    height: 300px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    border: 1px solid #333;
    margin: 250px auto;
}
